Streamlit is an open-source Python framework designed specifically for data scientists and engineers to create interactive, beautiful web applications without needing to know front-end technologies like HTML, CSS, or JavaScript.
For this small and simple hands-on project experiance, we need the following libs:
streamlit
PIL
plotly
pandas
datetime